#header {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;

}
.text {
    font-size: 16px;
    color: #ff0000;
    line-height: 1.5;

}