.abc {
    position: relative;
    top: 350px;
    left: 100px;
    border: 3px solid black;
    width: fit-content;
}
h1 {
    position: relative;
    z-index: 4;
    top: 110px;
}
p{
    position: relative;
    background-color: yellow;
}