h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: inherit;
    color: blue;
    background-color: lightgray;
    text-align: center;
   
    line-height: 5;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    color: green;
    background-color: beige;
    text-align: justify;
   
    line-height: 3;
}
h2 {
    font-family: 'Courier New', Courier, monospace;
    color: red;
    background-color: lightyellow;
    text-decoration: wavy underline;

    line-height: 1;
    

}