* {
    box-sizing: border-box;

}


.row {
    border: 3px solid black;
    background-color: lightgray;
    height: 150px;
    font-size: 0px;
}
.next {
    display: inline-block;
    width: 33.33%;
    height: 100%;
    border: 2px solid blue;
    background-color: white;
    
}

.col {
    display: inline-block;
    width: 50%;
    height: 100%;
    border: 1px solid white;
    background-color: red;
}

.dropdown {
    width: 100%;
    height: 50%;
    border: 1px solid white;
    background-color: green;
    margin : 1px 0px;
}
.third {
    display: inline-block;
    width: 33.33%;
    height: 100%;
    border: 2px solid blue;
    background-color: yellow;
    
}
.dropdown2 {
    width: 100%;
    height: 50%;
    border: 1px solid white;
    background-color: blueviolet;
    margin : 1px 0px;
}
.n2 {
    display: inline-block   ;
    width: 50%;
    height: 100%;
    border: 1px solid white;
    background-color: orange;
    margin : 1px 0px;
}
.dropdown3 {
    width: 100%;
    height: 33%;
    border: 1px solid white;
    background-color: blueviolet;
    margin : 1px 0px;
}